<%= link_to "Home", root_path %>

<h1>My Events</h1>

<% @user.created_events.each do |created_event| %>
    <ul>
        <li>
            <h4><%= created_event.name %></h4>
            <h4><%= created_event.location %></h4>
            <h4><%= created_event.date %></h4>
            <h4>Created by: <%= created_event.creator.username %></h4>
            <% if user_signed_in? %>
                <% if current_user.attended_events.any?{|event| event.id == created_event.id} %>
                    <% invitation_id = current_user.invitations.find_by(attended_event_id: created_event.id).id %>
                    <h4><%= link_to "Unjoin Event", invitation_path(id: invitation_id), data: {turbo_method: :delete} %></h4>
                <% else %>
                    <h4><%= link_to "Join Event", invitations_path(attended_event_id: created_event.id), data: {turbo_method: :post} %></h4>
                <% end %>
            <% else %>
                <h4><%= link_to "Join Event", invitations_path(attended_event_id: created_event.id), data: {turbo_method: :post} %></h4>
            <% end %>
            <h4><%= link_to "View attendees", event_attendees_path(created_event) %></h4>
            </li>
    </ul>
<% end %>