<h1>Edit Event</h1>

<%= form_with model: @event do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.label :location %>
<%= form.text_field :location %>
<%= form.label :date %>
<%= form.date_field :date %>
<%= form.submit %>
<% end %>