<% if user_signed_in?%>
    <%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete} %>
    <%= link_to "Create Event", new_event_path %>
<% else %>
    <%= link_to "Sign In", user_session_path %>
<% end %>
<%= link_to "My Events", current_user %>
<h1>Events</h1>

<% Event.all.each do |event| %>
<ul>
    <li><%= event.name %></li>
    <li><%= event.location %></li>
    <li><%= event.date %></li>
    <li>Created by: <%= event.creator.username %></li>
    <% if current_user.attended_events.any?{|attended_event| attended_event.id == event.id} %>
        <% invitation_id = current_user.invitations.find_by(attended_event_id: event.id).id%>
        <li><%= link_to "Unjoin Event", invitation_path(id: invitation_id), data: {turbo_method: :delete} %></li>
    <% else %>
        <li><%= link_to "Join Event", invitations_path(attended_event_id: event.id), data: {turbo_method: :post} %></li>
    <% end %>
</ul>
<% end %>