<h1>Create Event</h1>

<%= form_with model: @event do |form| %>
<%= form.label :location %>
<%= form.text_field :location %>
<%= form.label :date %>
<%= f.text_field :date, data:{ provide:'datepicker' } %>
<%= f.submit %>